<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300&display=swap"
        rel="stylesheet">
    <main>
        <class="form">
            <div class="title">
                <h1 id="title">Login Form</h1>
                <p id="description">Thank you for working with our platform</p>
            </div>
            <form id="survey-form" method="post">
                {% csrf_token %}
                <label for="email" id="name-label" class="uno">Email</label>
                <input type="text" id="email" placeholder="Enter your email"  name="email">

                <label for="name" id="name-label" class="uno">Password</label>
                <input type="password" id="name" placeholder="Enter your password" name="password">

                <button type="submit" id="submit" class="submit uno">Submit</button>

            </form>
            </div>
    </main>
</body>

</html>